/*  your css code here. If applicable */
body {
	margin: 0;
	padding: 0;
	background-color: rgb(135,206,235);
}

#fp {
	color:white;
	background-color: black;
}

#tp {
	color: red;
}

ul {
	width: 50%;
	padding: 10ox;
}

#first {
	background-color: white;
	font-size: 22px;
}

.second {
	background-color: gray;
}

#third {
	background-color: pink;
}

#fifth {
	background-color: white;
	font-size: 22px;
}
